:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #5c045c;
  --primary-color-light: hsl(300, 92%, 39%);
  --danger-color: red;
  --success-color: green;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}